h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.examples {
  list-style: none;
  display: none;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  padding-left: 0;
}
.examples__wrapper {
  position: relative;
}
.examples__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.examples-title {
  display: none;
}

.button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
}
.button__hero {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero:hover, .button__hero:focus {
  background-color: #188CE8;
}
.button__footer {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__footer:hover, .button__footer:focus {
  background-color: #188CE8;
}
.button__modal {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__modal:hover, .button__modal:focus {
  background-color: #188CE8;
}

.loyals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.loyals__item:not(:last-child) {
  margin-right: 30px;
}
.loyals__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #AFB1B8;
}
.loyals__link:hover, .loyals__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.loyals__icon {
  fill: currentColor;
}

.underground {
  padding: 60px 0;
  background-color: #2F303A;
}

.main-footer {
  align-items: baseline;
}

.main-adress {
  margin-right: 70px;
}

.info {
  line-height: 1.71;
  margin-top: 20px;
}
.info__item:not(:first-child) {
  margin-top: 9px;
}
.info__geo {
  color: #FFFFFF;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__geo:hover, .info__geo:focus {
  color: #2196F3;
}
.info__contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__contact:hover, .info__contact:focus {
  color: #2196F3;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social {
  margin-right: 93px;
}

.mailbox__footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.mailbox__footer:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.plane-icon {
  margin-left: 10px;
}

.form-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.form__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 11px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form__input:focus {
  border-color: #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.comment__area {
  resize: none;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
}
.comment__area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  margin-top: 20px;
  position: relative;
  display: flex;
}
.check__policy {
  margin-left: 37px;
}
.check__icon {
  width: 16px;
  height: 15px;
  top: 0;
  left: 15px;
  display: block;
  position: absolute;
  background-image: url(../images/border.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__link {
  color: #2196F3;
}

.check__form:checked + .check__icon {
  background-image: url(../images/checked.svg);
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  width: 100%;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation {
  display: none;
}

.nav {
  list-style: none;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}
.nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: #212121;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.auth {
  display: none;
  margin-left: auto;
}
.auth__item:not(:first-child) {
  margin-left: 50px;
}
.auth__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth__link:hover, .auth__link:focus {
  color: #2196F3;
}
.auth__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heropic.jpg");
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
}
.logo__header {
  color: #212121;
}
.logo__footer {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .logo {
    color: red;
  }
}

.markers {
  justify-content: center;
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 50px;
}
.markers__title {
  color: #212121;
  background-color: #F5F4FA;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  letter-spacing: 0.03em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.markers__title:hover, .markers__title:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.markers__item:not(:last-child) {
  margin-right: 8px;
}

.recital {
  padding-bottom: 0;
}

.peculiarities {
  justify-content: center;
  padding-left: 0;
}
.peculiarities__wrapper {
  width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.peculiarities__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  font-size: inherit;
  margin-bottom: 10px;
}
.peculiarities__text {
  line-height: 1.71;
}
.peculiarities__item:not(:last-child) {
  margin-bottom: 30px;
}

.peculiarities {
  list-style: none;
}

.section-team {
  background-color: #F5F4FA;
}

.crew {
  list-style: none;
  padding-left: 0;
}
.crew__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.crew__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.crew__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  background-color: #FFFFFF;
  list-style: none;
}
.cards__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.cards__link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__link:hover, .cards__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__link:hover .cards__overlay, .cards__link:focus .cards_overlay {
  transform: translateY(0);
}
.cards__thumb {
  position: relative;
  overflow: hidden;
}
.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
}
.cards__box {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.cards__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.cards__description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #FFFFFF;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 12px;
}
.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.socials__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__item:hover, .socials__item:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.socials__icon {
  fill: currentColor;
}
.socials__item--grey {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=main.css.map */