.button{
    color: $white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
   

    &__hero{
    transition: background-color $cubic-bezier;
    &:hover,
    &:focus{
    background-color: $second-blue-color;
    }
    }

    &__footer{
        display: inline-flex;
        align-items: center;
        padding-left: 28px;
        padding-right: 28px;
        transition: background-color $cubic-bezier;
        &:hover,
        &:focus{
        background-color: $second-blue-color;
        }
    }
    &__modal{
        display: block;
            margin: 0 auto;
            margin-top: 30px;
            transition: background-color $cubic-bezier;
            &:hover,
            &:focus{
            background-color: $second-blue-color;
            }
    }
}