body {

    background-color: $white-color;
    color: $main-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    


    @media  (min-width:480px) {
        width: 480px;
        margin-left: auto;
            margin-right: auto;

    }

    @media  (min-width:768px) {
        width: 760px;
    }

    @media  (min-width:1200px) {
        width: 1200px;
    }
}
.section {
    padding-top: 60px;
    // padding-bottom:60px;
    
}

.section-title {
    color: $sec-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}
