.header-container{
    display: flex;
    width: 100%;

}

.header {
    border-bottom: 1px solid $header-border-color;
}

.logo-header{
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.navigation{
    display:none;
}

.nav {
    // display: flex;
    list-style: none;

    &__item:not(:first-child) {
            margin-left: 50px;
        }
    
    &__link {
        display: block;
        
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
        
            padding: 32px 0;
        
            color: $sec-color;
        
            text-decoration: none;
        
            transition: $cubic-bezier;
            &:hover,
            &:focus {
            color: $accent-color;
        }
    }      
}

.current {
    color: $accent-color;
    position: relative;

    &::after{
        content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background: $accent-color;
            border-radius: 2px;
    }
}


.auth{
    display: none;
    margin-left: auto;

    &__item:not(:first-child) {
            margin-left: 50px;
        }
    
    &__link{
        display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            color: $main-color;
            text-decoration: none;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $cubic-bezier;

            &:hover,
            &:focus{
            color: $accent-color;
            }
    }
    &__icon {
            fill: currentColor;
            margin-right: 10px;
}
}

