.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    transition: opacity $cubic-bezier, visibility $cubic-bezier;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    background-color: $white-color;
    width: 528px;
    height: 581px;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__close{
        position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $white-color;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            margin-bottom: 12px;
    }
    &__icon{
    transition: fill $cubic-bezier;
    &:hover{
        fill: $accent-color;
            transition: fill $cubic-bezier;
    }
    }
}
