.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item{
    width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $social-icon-color;
        transition: $cubic-bezier,
        background-color $cubic-bezier;
        &:not(:last-child) {
        margin-right: 10px;}
        &:hover,
        &:focus{
        background-color: $accent-color;
        color: $white-color;
        }
    }
    &__icon{
        fill: currentColor;
    }
    &__item--grey{
        color: $white-color;
        background-color: $footer-social-icon;
    }
}
