.section-team {
    background-color: $bc-team;
    // max-width: 1600px;
    // margin-left: auto;
    // margin-right: auto;

}
.crew {
    list-style: none;
    // display: flex;
    padding-left: 0;

    &__item{
        background-color: $white-color;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        &:not(:last-child) {
            margin-bottom: 30px;
                    }
    }
    &__title{
        color: $sec-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
    }
    &__position{
        font-size: 16px;
            line-height: 1.18;
            text-align: center;
            margin-bottom: 16px;
    }
}
.text-wrapper{
    padding-bottom: 30px;
        padding-top: 30px;
    
}
.section-team{
    padding-bottom: 60px;
}
