    $main-color: #757575;
    $sec-color: #212121;
    $accent-color: #2196F3;
    $white-color: #FFFFFF;
    $main-bg-color: #E5E5E5;
    $bc-team: #F5F4FA;
    $footer-contact: rgba(255, 255, 255, 0.6);
    $herofooter-back-color: #2F303A;
    $hero-bgc: #2F303A;
    $second-blue-color: #188CE8;
    $header-border-color: #ECECEC;
    $backdrop-color: rgba(0, 0, 0, 0.2);
    $cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $about-us-back: rgba(47, 48, 58, 0.8);
    $social-icon-color: #AFB1B8;
    $form-footer-border: rgba(255, 255, 255, 0.3);
    $footer-social-icon: rgba(255, 255, 255, 0.1);
    $overlay-color: rgba(33, 150, 243, 0.9);